.content
{
	position: relative;

	margin: 40px auto 0px auto;

	width: 90%;

	border: 1px solid #eeeeee;

	font-family: 'Source Sans Pro', sans-serif;
}

h1
{
	position: relative;
	margin-left: 10px;

	font-size: 80px;
	font-weight: 700;

	color: #333333;

	font-family: 'Yanone Kaffeesatz', sans-serif;
	/*key=0Ar9b16u8gRNVdEtkWXo5bGhUZ3lTVnFldVhObTRIdWc*/
}

h2
{
	position: relative;
	margin-left: 10px;
	margin-bottom: 10px;

	font-size: 20px;
	color: #e74c3c;
}

h3
{
	position: relative;
	margin-left: 10px;
	margin-bottom: 10px;

	font-size: 14px;
	color: #bdc3c7;
}

#viewhidden
{
	position: absolute;
	cursor: pointer;

	top: 10px;
	right: 10px;

	font-size: 2em;
	color: #dddddd;
}

#viewhidden:hover { color: #bbbbbb; }
#viewhidden.showing{ color: #2ecc71; }

#backlog-labels
{
	position: relative;
	overflow: hidden;

	background-color: #ecf0f1;

	margin-top: 20px;
	padding: 10px;
}

#backlog-labels .label
{
	position: relative;

	/*background-color: #ecf0f1;*/

	color: #34495e;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

#backlog-labels .label.type
{
	position: relative;
	float: left;

	width: 200px;

	text-align: right;
}

#backlog-labels .label.uid
{
	position: relative;

	float: left;
	margin-left: 20px;

	width: 50px;

	text-align: center;
}

#backlog-labels .label.description
{
	position: relative;
	margin-left: 290px;

	margin-right: 70px;

	text-align: left;
}

#backlog-labels .label.priority
{
	position: absolute;

	top: 10px;
	right: 10px;

	width: 70px;

	text-align: center;
}

#backlog-list
{
	position: relative;
	margin-top: 10px;
}

#backlog-list .item
{
	position: relative;
	overflow: hidden;

	padding: 10px;

	/*background-color: rgba(255, 0, 0, 0.05);*/
}

#backlog-list .item.isdone{ display: none; }
#backlog-list.showing .item.isdone{ display: block; }

#backlog-list .item:hover{ background-color: #eeeeee; }

#backlog-list .item .type
{
	position: relative;
	float: left;

	width: 200px;

	font-size: 10px;

	text-align: right;
}

#backlog-list .item .type div
{
	position: relative;
	margin: 0px auto;

	display: inline-block;

	padding: 0px 10px;
	line-height: 18px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	font-weight: 600;

	background-color: #404041;
	color: #ffffff;
}

/*#backlog-list .item .type.buildnewfunction div{ background-color: #3498db; color: #ffffff; }*/
/*#backlog-list .item .type.enhanceexistingfunction div{ background-color: #27ae60; color: #ffffff; }*/
/*#backlog-list .item .type.issuefix div{ background-color: #9b59b6; color: #ffffff; }*/

#backlog-list .item .uid
{
	position: relative;

	float: left;
	margin-left: 20px;

	width: 50px;

	background-color: #eeeeee;

	font-size: 14px;
	line-height: 18px;

	text-align: center;
}

#backlog-list .item .description
{
	position: relative;

	margin-left: 290px;
	margin-right: 80px;

	text-align: left;

	font-size: 14px;
	line-height: 18px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#backlog-list .item .priority
{
	position: absolute;

	top: 10px;
	right: 10px;

	width: 70px;
	height: 18px;

	text-align: center;
}

#backlog-list .item .priority div
{
	position: relative;
	margin: 2px auto 0px auto;

	display: block;

	width: 10px;
	height: 10px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#backlog-list .item .priority.h div, #backlog-list .item .priority.m div, #backlog-list .item .priority.l div{ border: 2px solid #ffffff; }

#backlog-list .item .priority.h div { background-color: #e74c3c; }
#backlog-list .item .priority.m div { background-color: #f1c40f; }
#backlog-list .item .priority.l div { background-color: #2ecc71; }